# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages for DS
* List commonly used libraries by DS
* List of tools for DS
* Some examples of working in Jupyter Notebook

## Author
Abutayev Zhanarys

### Some of the popular languages that Data Scientists use are:

1. Python
2. Java
3. C++
4. R

#### Some of the commonly used libraries used by Data Scientists include:

* Numpy
* Pandas
* Matplotlib
* Seaborn


| Data Science Tools |
| ------ |
| MySQL |
| Anaconda |
| Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
# This a simple arithmetic expression to multiply then add integers
(3*4) + 5

17

In [4]:
# This will convert 200 minutes to hours by dividing by 60
a = (200 / 60)
print(a, "hours")

3.3333333333333335 hours